/*For all contents*/
@font-face {
    font-family: 'SF-Pro-Display-Light';
    src: url('../Fonts/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
    font-family: 'KozGoPr6N-Regular';
    src: url('../Fonts/KozGoPr6N-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url('../Fonts/SF-Pro-Display-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Thin';
    src: url('../Fonts/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Ultralight';
    src: url('../Fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
}

@font-face {
    font-family: 'SFCompactDisplay-Semibold';
    src: url('../Fonts/SFCompactDisplay-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('../Fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'DINNextLTPro-Bold';
    src: url('../Fonts/DINNextLTPro-Bold.otf') format('opentype');
}


* {
    margin: 0;
    padding: 0;
    font-weight: 100;

}

.container {
    width: 1024px;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

p {
    width: 100%;
    word-wrap: normal;
    font-size: 16px;
    font-family: 'KozGoPr6N-Regular';
}

.normal-section {
    height: 700px;
}

.background-light {
    background-color: #e3f5ff;
    color: #061a26;
}

.background-dark {
    background-color: #061a26;
    color: #e3f5ff;
}

/*font settings*/
.title-text {
    padding-top: 88px;
    padding-bottom: 72px;
    font-size: 48px;
    font-family: "SF-Pro-Display-Semibold";
}

.main-text {
    font-size: 32px;
    font-family: "KozGoPr6N-Regular";
    letter-spacing: 5px;
    font-weight: 100;
    padding-bottom: 72px;
}

.sub-text {
    font-size: 24px;
    font-family: "KozGoPr6N-Regular";
    letter-spacing: 8px;
    padding-bottom: 56px;
}

.ultra-light-text {
    font-family: "SF-Pro-Display-Ultralight";
    letter-spacing: 10px;
}

.concept-text {
    font-family: "DINNextLTPro-Bold";
    letter-spacing: 10px;
    font-size: 64px;
    padding-bottom: 80px;
}

.main-text-thin {
    font-size: 32px;
    font-family: "SF-Pro-Display-Ultralight";
    letter-spacing: 10px;
    font-weight: 100;
    padding-bottom: 32px;
}

/*For header*/
.header-section {
    height: 100vh;
    background: linear-gradient(135deg, #29aeff, #e629ff);
}

.header-container {
    height: 100vh;
}

.cls-1 {
    fill: none;
    stroke: #e3f5ff;
    /*線の色を指定する*/
    stroke-dasharray: 2000;
    /*線の間隔を指定する*/
    stroke-dashoffset: 0;
    /*線の位置を指定する(IEは効かない属性)*/
    stroke-width: 1;
    /*線の太さを指定する*/
    -webkit-animation: hello 3s ease-in forwards;
    animation: hello 3s ease-in forwards;
}

@-webkit-keyframes hello {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
        /*透過*/
    }

    50% {
        fill: transparent;
        /*透過*/
    }

    100% {
        stroke-dashoffset: 0;
        fill: #333;
    }
}

@keyframes hello {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
        /*透過*/
    }

    50% {
        fill: transparent;
        /*透過*/
    }

    100% {
        stroke-dashoffset: 0;
        fill: #e3f5ff;
    }
}

header h1 {
    padding-top: 20vh;
    color: #e3f5ff;
    font-size: 64px;
    font-family: "SF-Pro-Display-Semibold";
}

header svg {
    padding-top: 20vh;
    width: 500px;
}

header img {
    right: 0;
    bottom: 10%;
    position: absolute;
}

#before {
    fill: #9BC532;
}

#after {
    display: none;
}

/*For about*/
.profile-image {
    width: 300px;
    height: 300px;
    float: right;
    padding-top: 96px;
    padding-right: 40px;
}

/*For concept*/
/*For passion*/
/*For what-I-do*/
/*For works*/
/*For Social NetWorks*/
/*For Footer*/
.copyright {
    text-align: center;
    font-family: "SF-Pro-Display-Thin";
    letter-spacing: 6px;
    padding: 24px;
}
