/*For all contents*/
@font-face {
    font-family: 'SF-Pro-Display-Light';
    src: url('../Fonts/SF-Pro-Display-Light.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url('../Fonts/SF-Pro-Display-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Thin';
    src: url('../Fonts/SF-Pro-Display-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Ultralight';
    src: url('../Fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
}

@font-face {
    font-family: 'SFCompactDisplay-Semibold';
    src: url('../Fonts/SFCompactDisplay-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('../Fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'DINNextLTPro-Bold';
    src: url('../Fonts/DINNextLTPro-Bold.otf') format('opentype');
}


* {
    margin: 0;
    margin: 0;
    font-weight: 100;

}

html {
    background-color: #000;
}

.position-absolute {
    position: absolute;
}

body {
    animation: fadeIn 1s ease 0s 1 normal;
}

p {
    line-height: 1.5em;
    width: 100%;
    word-wrap: break-word;
    font-size: 20px;
    font-family: 'A1 Gothic L';
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

canvas {
    display: block;
    vertical-align: bottom;
}

.container {
    max-width: 1024px;
    width: 100%;
    height: 100%;
    margin: auto auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: relative;
}

.normal-section {
    height: 700px;
}

.background-light {
    background-color: #e3f5ff;
    color: #061a26;
}

.background-dark {
    background-color: #061a26;
    color: #e3f5ff;
}

.triangle-left {
    height: 100%;
    width: 50%;
    background: linear-gradient(135deg, #29aeff84, #e629ff24);
    float: left;
    -webkit-clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 35% 0, 100% 100%, 0% 100%);
}

.triangle-right {
    height: 100%;
    width: 50%;
    background: linear-gradient(135deg, #e629ff24, #29aeff84);
    float: right;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 100%);
}

/*pentagon fuwafuwa*/
.fuwafuwa {
    -webkit-animation: fuwafuwa 3s infinite linear alternate;
    animation: fuwafuwa 3s infinite linear alternate;
}

@-webkit-keyframes fuwafuwa {
    0% {
        -webkit-transform: translate(0, 0) rotate(-5deg);
    }

    50% {
        -webkit-transform: translate(0, 15px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(0, 0)rotate(5deg);
    }
}

@keyframes fuwafuwa {
    0% {
        -webkit-transform: translate(0, 0) rotate(-5deg);
    }

    50% {
        -webkit-transform: translate(0, 15px) rotate(0deg);
    }

    100% {
        -webkit-transform: translate(0, 0)rotate(5deg);
    }
}

/*font settings*/
.title-text {
    padding-top: 88px;
    margin-bottom: 72px;
    font-size: 48px;
    font-family: "SF-Pro-Display-Semibold";
    letter-spacing: 4px;
}

.main-text {
    font-size: 32px;
    font-family: "SF-Pro-Display-Regular";
    letter-spacing: 5px;
    font-weight: 100;
    margin-bottom: 72px;
}

.sub-text {
    font-size: 32px;
    font-family: "A1 Gothic L";
    letter-spacing: 8px;
    margin-bottom: 56px;
}

.ultra-light-text {
    font-family: "SF-Pro-Display-Ultralight";
    letter-spacing: 10px;
}


.main-text-thin {
    font-size: 32px;
    font-family: "SF-Pro-Display-Ultralight";
    letter-spacing: 10px;
    font-weight: 100;
    margin-bottom: 32px;
}

/*fuwat below*/
.fuwatAnime {
    -webkit-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fuwatAnime;
    -ms-animation-name: fuwatAnime;
    animation-name: fuwatAnime;
    visibility: visible !important;
}

@-webkit-keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fuwatAnime {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

/*For header*/
.header-section {
    height: 80vh;
}

#halo {
    display: grid;
    place-items: center;
    height: 100%;
    overflow: hidden;
  }

#gradient {
    overflow: hidden;
}

/*title svg animation*/

.cls-1 {
    fill: none;
    stroke: #fff;
    /*線の色を指定する*/
    stroke-dasharray: 2000;
    /*線の間隔を指定する*/
    stroke-dashoffset: 0;
    /*線の位置を指定する(IEは効かない属性)*/
    stroke-width: 1;
    /*線の太さを指定する*/
    -webkit-animation: hello 3s ease-in forwards;
    animation: hello 3s ease-in forwards;
}

@-webkit-keyframes hello {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
        stroke: #fff;
        /*透過*/
    }

    50% {
        fill: transparent;
        /*透過*/
    }

    100% {
        stroke-dashoffset: 0;
        fill: #333;
        stroke: #ffffff00;
    }
}

@keyframes hello {
    0% {
        stroke-dashoffset: 2000;
        fill: transparent;
        stroke: #fff;
        /*透過*/
    }

    50% {
        fill: transparent;
        /*透過*/
    }

    100% {
        stroke-dashoffset: 0;
        fill: #000;
        stroke: #ffffff00;
    }
}

header svg {
    margin-top: 20vh;
    width: 500px;
}

#pentagon {
    float: right;
    position: absolute;
    bottom: 10%;
}

#before {
    fill: #061a2691;
}

#after {
    display: none;
}

/*For about*/
.profile-image {
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 96px;
    margin-right: 40px;
}

/*For concept*/
/*For passion*/
/*For what-I-do*/
/*For works*/
.work-category-text {
    color: #29aeff;
    background: -webkit-linear-gradient(90deg, #29aeff, #e629ff);
    background: linear-gradient(90deg, #29aeff, #e629ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "SF-Pro-Display-Semibold";
    font-size: 42px;
    display: inline-block;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.works-image {
    margin: 16px 64px;
    float: left;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    width: 400px;
    height: 300px;
}

.cell-text {
    width: 400px;
    float: left;
    overflow: hidden;
    margin: 32px 0;
}

.cell-text h2 {
    font-family: 'SF-Pro-Display-Semibold', 'A1 Gothic L';
    font-size: 32px;
}

.cell-text h3 {
    font-family: 'SF-Pro-Display-Thin', 'A1 Gothic L';
    font-size: 16px;
    letter-spacing: 4px;
}

cell-text p {
    width: 400px;
}

/*For Social NetWorks*/
#Social-Networks a {
    text-decoration: none;
    color: #061a26;
    display: inline-block;
    transition: .3s;
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
}

#Social-Networks a:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    color: #29aeff;
}

/*For Footer*/
.copyright {
    text-align: center;
    font-family: "SF-Pro-Display-Thin", 'A1 Gothic L';
    letter-spacing: 6px;
    padding-top: 24px;
    padding-bottom: 24px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
    .container {
        width: 375px;
    }
}

/*スマホ*/
@media screen and (max-width: 375px) {
    container {
        width: 90vw;
    }
}